/* Déclaration de la police */ 
@font-face {
  font-family: 'Raleway';
  src: url(police/Raleway-VariableFont_wght.ttf);
  font-family: 'Raleway2';
  src: url(police/Raleway-Bold.ttf);
}

body {
  font-family: 'Raleway';
}
      
main {
  max-width: 1400px;
  margin: auto;
}
    
/* Élèments principaux */
.width100 {
  width: 100%; 
}
      
/* Couleurs */
.colorblue {
  color: #0065FC;
}
      
.colorblack {
  color: #000;
}
      
.colorwhite {
  color: #FFFFFF;
}
      
.colorgris {
  color: #F2F2F2;
}

/* Background-colors */
.backgroundcolorgris {
  background-color: #F2F2F2;
}
    
.backgroundcolorblue {
  background-color: #0065FC;
}
    
/* Élèments des textes*/
.textalign {
  text-align : center;
}
    
.textdecoration {
  text-decoration: none;
}
    
.bold {
  font-weight: bold;
  font-size: large;
}
  
.Raleway2 {
  font-family: 'Raleway2';
}

/* Display : flex */
.displaycenter {
  display: flex;
  justify-content: center;
}
    
.flexbetween {
  display: flex;
  justify-content: space-between;
}
    
.flexstart {
  display: flex;
  justify-content: flex-start;
}
    
.flexcolumn {
  display: flex;
  flex-direction: column;
}
    
.displayflex {
  display: flex;
}
    
.alignitemscenter {
  align-items: center;
}
    