/* Déclaration de la police */ 
@font-face {
  font-family: 'Raleway';
  src: url(police/Raleway-VariableFont_wght.ttf);
  font-family: 'Raleway2';
  src: url(police/Raleway-Bold.ttf);
}

body {
    font-family: 'Raleway';
  }
      
  main {
    max-width: 1400px;
    margin: auto;
  }
    
  /* Élèments principaux */
  .width100 {
    width: 100%; 
  }
      
  /* Couleurs */
  .colorblue {
    color: #0065FC;
  }
      
  .colorblack {
    color: #000;
  }
      
  .colorwhite {
    color: #FFFFFF;
  }
      
  .colorgris {
    color: #F2F2F2;
  }