/* Déclaration de la police */ 
@font-face {
  font-family: 'Raleway';
  src: url(police/Raleway-VariableFont_wght.ttf);
  font-family: 'Raleway2';
  src: url(police/Raleway-Bold.ttf);
}

body {
  font-family: 'Raleway';
  margin: 0;
}
      
main {
  max-width: 1400px;
  margin: auto;
}
    
/* Élèments principaux */
.width100 {
  width: 100%; 
}
      
/* Couleurs */
.colorblue {
  color: #0065FC;
}
      
.colorblack {
  color: #000;
}
      
.colorwhite {
  color: #FFFFFF;
}
      
.colorgris {
  color: #F2F2F2;
}

/* Background-colors */
.backgroundcolorgris {
  background-color: #F2F2F2;
}
    
.backgroundcolorblue {
  background-color: #0065FC;
}
    
/* Élèments des textes*/
.textalign {
  text-align : center;
}
    
.textdecoration {
  text-decoration: none;
}
    
.bold {
  font-weight: bold;
  font-size: large;
}
  
.Raleway2 {
  font-family: 'Raleway2';
}

/* Display : flex */
.displaycenter {
  display: flex;
  justify-content: center;
}
    
.flexbetween {
  display: flex;
  justify-content: space-between;
}
    
.flexstart {
  display: flex;
  justify-content: flex-start;
}
    
.flexcolumn {
  display: flex;
  flex-direction: column;
}
    
.displayflex {
  display: flex;
}
    
.alignitemscenter {
  align-items: center;
}

.displaywrap {
  flex-wrap: wrap;
}
    
/* Header */
.borderhebergements {
  border-bottom: 3px solid #0065FC;
}
    
.borderactivites {
  border-bottom: 3px solid #F2F2F2;
}
    
.padding {
  padding: 10px;
}
    
.hauteurlargeur50 {
  width: 50%;
  height: 50px;
}
    
.inscription {
  font-family: 'Raleway2';
}
  
/* Section 1 */
/* Champ de saisie */
.saisie {
  border-radius: 10px; 
  border: 0.5px solid #F2F2F2;
}
    
.cadre {
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  border: none;
  padding-left: 20px; 
  font-weight: bold;
}
    
.recherche {
  cursor: pointer;
  border-radius: 15px;
}
    
.lieu { 
  border-radius: 10px 0 0 10px;
}

.height50 { 
  height: 50px;
}
    
/* Filtres */
/* utilisé pour les filtres et l'icon info */
.info {
  width: 150px;
  height: 42px;
  margin-top: 10px;
  transition: 2s;
}

.gap {
  gap: 12px;
}
    
.border {
  border: 2px solid #F2F2F2;
}

.borderradius {
  border-radius: 25px;
}
    
.info:hover {
  background-color: #0065FC;
}
    
.infoanimaux {
  border-radius: 40px;
  width: 200px;
}
    
.icons {
  background-color: #deebff;
  padding: 2px;
}
    
.paddingfiltres {
  padding-left: 5px;
  padding-right: 5px;
}
    
.margefiltres {
  margin-top: 10px;
  margin-bottom: 10px;
}
    
/* Icon info */
.cercleicon {
  margin-right: 10px;
}
    
.widthheightcercleicons {
  width: 42px;
  height: 42px;
}

/* Aside */
.figure {
  width: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #FFFFFF;
}
    
.figure img {
  width: 90px;
  height: 130px;
  padding: 4px;
  border-radius: 25px 0 0 25px;
}
  
.margintop60 {
  margin-top: 60px;
}
  
/*Hébèrgements à Marseille */
.pointer {
  cursor: pointer;
}
    
/* Sections 2 et 3 */
.boxshadow {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
}
  
/* Figures et Figcaptions */
figure img { 
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
    
figure {
  margin: 0px;
  background-color: #FFFFFF;
}
    
figure:hover {
  cursor: pointer;
  transform: scale(1.03);
  border-radius: 20px;
}
  
figcaption {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
      
figcaption p {
  margin: 0px; 
}
  
.margintop {
  margin-top: 15px;
}
    
.paddingtopbottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
    
.figcaption i, figcaption i {
  font-size: 12px;
  padding: 3px;
}

/* Footer */
footer {
  background-color: #F2F2F2;
}
    
li {
  list-style: none;
}

/* Média queries */
/* Média Quéries téléphone 500px */
@media screen and (min-width: 500px) {
  .widthmargin {
    width: 80%;
    margin: auto;
  }
}

/* Média tablettes min-width 700px */
@media screen and (min-width: 700px) {
  /* Champ de saisie */
  .width50 {
    width: 50%;
  }
  
  /* Filtres */
  .flex {
    display: flex;
  }
  
  .marginauto {
    margin: auto;
  }
  
  /*div aside et section 2 */
  /* Aside et section 2 */
  .displaycolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Aside */
  .figure {
    height: 200px;
  }
  
  .figure img {
    height: 200px;
    width: 140px;
  }
  
  .marginblock {
    margin-block: auto;
  }
  
  .margintop60fig {
    margin-top: 60px;
  }
}
  
/* Média Ipad pro min-width 1024px*/
@media screen and (min-width: 1024px) {
  /* Elèments principaux */
  .flexinitial {
  display: flex;
    flex-direction: initial;
  }
  
  .height200 {
    height: 200px;
  }
  
  .margin10 {
    margin: 10px;
  }
  
  .width50logo {
    width: 50%;
  }
  
  .height130 {
    height: 130px;
  }
  
  .itemcenter {
    align-items: center;
  }
  
  /* Header */
  .sinscrire {
    justify-content: center;
  }
  
  .divhebergements {
    border-top: 3px solid #0065FC;
  }
    
  .borderbottomtransparent {
    border-bottom: transparent;
  }

   /* Section 1 */
  /* Champ de saisie */
  
  .margintopbottom {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .width130 {
    width: 130px;
  }
  
  .divrecherche {
    border-radius: 0 15px 15px 0;
    width: 220px;
  }
  
  .spacearound {
    justify-content: space-around;
  }
  
  /* Filtres */
  .displayflexfiltres {
    display: flex;
  }
  
  .margin10 {
    margin: 10px;
  }
  
  /* Div Aside et section */
  
  .divasidesection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  /* Aside */
  .borderradius25 {
    border-radius: 25px;
  }
  
  .aside {
    width: 40%;
  }
  
  /* Section 2 */
  .heightsection {  /* A voir si c'est necessaire */
    height: auto;
  }
  
  .section2 {
    background-color: #F2F2F2;
    margin-right: 30px;
  }
  
  .divsection2 {
    display: flex;
    margin: 20px;
  }
  
  .width95 {
    width: 95%;
  }
  
  .heightfigures {
    height: 240px;
  }
  
  .boxshadownone {
    box-shadow: none;
  }
  
  .marginblocks2 {
    margin-block-end: revert;
  }

  /* Section 3 */
  .section3 {
    display: flex;
  }
  
  .width100s3 {
    width: 100%;
  }
  
  .figure14 {
    height: 450px;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  .figure14 img {
    height: 400px;
  }
  
  .div2356 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin-bottom: 15px;
  }
  
  .figure26 {
    width: 95%;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .figure26img {
    height: 150px;
  }
  
  .figure35 {
    width: 95%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  /* Footer */
  .divfooter {
    display: flex;
  }
  
  ul {
    margin-right: auto;
  }
}

/* Média Queries Desktop 1400px */
@media screen and (min-width: 1400px) {
  /* Section 2 */
  .figures2 {
    width: 95%;
  }
  
  /* Section 3 */
  .figures3 {
    margin-left: 20px;
    margin-right: 20px;
  }
}